<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href='static/style.css'>
    <title>deleteDevice</title>
</head>
<body style="background: snow">
<br>
<div style="width: 1000px; background: lightskyblue; padding: 20px; text-align: center; margin: auto; font-size: x-large">
    Device removed, successful!
    <br>
    <a class="btn btn-primary" href="http://localhost:8080/" role="button">Add, edit or delete next device! </a>
</div>
</body>
</html>